<html>
  <body>
    <p>Hello <%= @user.user_name %>,<br><br></p>

    <p><br>
      You password has been successfully changed!<br><br>
      Username: <%= @user.user_name %><br><br>
      Email: <%= @user.email %><br><br>
      From IP address: <%= @remote_ip %><br><br>
      Date and time: <%= @user.password_reset_sent_at %><br><br><br/><br/>

      warm regards,<br/><br/>
      PeerShape Team
    </p>
  </body>
</html>
